version: 2.1
orbs:
  ft-golang-ci: financial-times/golang-ci@1
jobs:
  dredd:
    working_directory: /go/src/github.com/Financial-Times/draft-content-api
    docker:
      - image: golang:1
        environment:
          GOPATH: /go
          CIRCLE_TEST_REPORTS: /tmp/test-results
          CIRCLE_COVERAGE_REPORT: /tmp/coverage-results
      - run:
          name: Go Build
          command: go build -mod=readonly -v
      - run:
          name: Download dredd
          command: |
            curl -sL https://deb.nodesource.com/setup_11.x | bash -
            DEBIAN_FRONTEND=noninteractive apt-get install -y nodejs=11.\*
            npm install -g --unsafe-perm --loglevel warn --user 0 --no-progress dredd@8.0.0
            rm -rf /var/lib/apt/lists/*
      - run:
          name: Dredd API Testing
          command: dredd
workflows:
  test-and-build-docker:
    jobs:
      - ft-golang-ci/build-and-test:
          name: build-and-test-project
      - dredd
      - ft-golang-ci/docker-build:
          name: build-docker-image
          requires:
            - build-and-test-project
  snyk-scanning:
    jobs:
      - ft-golang-ci/scan:
          name: scan-dependencies
          context: org-global
